@font-face {
  font-family: "Overpass";
  src: local("Overpass"),
    url(./projectFiles/fonts/Overpass-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "OverpassLight";
  src: local("OverpassLight"),
    url(./projectFiles/fonts/Overpass-Light.ttf) format("truetype");
}

@font-face {
  font-family: "OverpassBold";
  src: local("OverpassBold"),
    url(./projectFiles/fonts/Overpass-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "OverpassSemiBold";
  src: local("OverpassSemiBold"),
    url(./projectFiles/fonts/Overpass-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "OverpassExtraBold";
  src: local("OverpassExtraBold"),
    url(./projectFiles/fonts/Overpass-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
    url(./projectFiles/fonts/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "UbuntuBold";
  src: local("UbuntuBold"),
    url(./projectFiles/fonts/Ubuntu-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "UbuntuMedium";
  src: local("UbuntuMedium"),
    url(./projectFiles/fonts/Ubuntu-Medium.ttf) format("truetype");
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: url("/src/projectFiles/images/bg-pattern-intro.svg");
  background-repeat: no-repeat;
  background-size: auto 172rem;
  background-position: center;
  background-position-x: -20rem;
  background-position-y: -73.5rem;
  background-color: hsl(353, 100%, 62%);
  /* background-color: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  ); */
  min-height: 65vh;
  border-bottom-left-radius: 120px;
  position: relative;
}

@media only screen and (max-width: 420px) {
  .header {
    min-height: 80vh;
    background-size: auto 74rem;
    background-position-x: -18rem;
    background-position-y: -14rem;
  }
}

.logo {
  top: 3rem;
  left: 10.5%;
  position: absolute;
}

.logo g {
  background-color: white;
}

.hamburger {
  top: 3.5rem;
  position: absolute;
  display: none;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.hamburger:hover {
  cursor: pointer;
  transform: rotate(90deg);
  transition: all 0.3s linear;
}

@media only screen and (max-width: 420px) {
  .hamburger {
    top: 3rem;
    right: 10%;
    position: absolute;
    display: block;
  }
}

.mobileMenu {
  margin-top: 7rem;
  width: 80vw;
  background-color: white;
  z-index: 10;
  position: absolute;
  box-shadow: 0 16px 36px 5px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}

@media only screen and (min-width: 421px) {
  .mobileMenu {
    display: none;
  }
}

.mobileMenuContainer {
  margin: 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.topMenuItem {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: OverpassBold;
  font-weight: 300;
  text-transform: capitalize;
  color: hsl(237, 17%, 21%);
}

.topMenuHeader {
  padding-left: 1rem;
}

.topMenuHeader:hover {
  cursor: pointer;
  text-decoration: underline;
  font-family: Overpass;
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.mobileAltMenu {
  margin: 0.5rem 2rem;
  min-width: 60vw;
  background-color: rgb(231, 231, 231);
  text-align: center;
  z-index: 12;
  border-radius: 5px;
}

.mobileAltMenuItem {
  color: hsl(207, 13%, 34%);
  font-family: UbuntuMedium;
  line-height: 2rem;
}

.mobileAltMenuItem:hover {
  cursor: pointer;
  font-family: UbuntuBold;
  font-size: large;
}

.horizontalRule {
  margin: 2rem 0rem;
  width: 60vw;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
}

.menuLoginBtn {
  font-family: OverpassBold;
  font-weight: 300;
  text-transform: capitalize;
  color: hsl(237, 17%, 21%);
  padding: 0.6rem 1.9rem;
  border-radius: 2rem;
}

.menuLoginBtn:hover {
  cursor: pointer;
  background-color: hsl(353, 100%, 62%);
  color: hsl(0, 0%, 100%);
  transition: all 0.5s linear;
}

.menuSignUpBtn {
  font-family: OverpassBold;
  font-weight: 300;
  text-transform: capitalize;
  color: hsl(237, 17%, 21%);
  padding: 0.6rem 1.9rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
}

.menuSignUpBtn:hover {
  cursor: pointer;
  background-color: hsl(353, 100%, 62%);
  color: hsl(0, 0%, 100%);
  transition: all 0.5s linear;
}

.navBar {
  margin-left: 8.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 420px) {
  .navBar {
    display: none;
  }
}

.navBarItem {
  font-family: OverpassBold;
  font-weight: 300;
  text-transform: capitalize;
  color: hsl(0, 0%, 100%);
  margin-left: 1rem;
  position: relative;
}

.navBarItem:hover {
  cursor: pointer;
  text-decoration: underline;
}

.closeMenu {
  margin-left: 0.5rem;
}

.navBarItem:hover .arrowLight {
  transform: translate(180deg);
}

.openMenu {
  margin-left: 0.5rem;
  transform: rotate(180deg);
}

.dropMenu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 0.5rem;
  width: 8rem;
  /* height: 7rem; */
  background-color: white;
  z-index: 10;
  position: absolute;
  box-shadow: 0 16px 36px 5px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}

.dropMenuContainer {
  margin: 0.5rem 2rem 0.5rem 1rem;
}

.dropMenuItem {
  color: hsl(207, 13%, 34%);
  font-family: UbuntuMedium;
  line-height: 2rem;
}

.dropMenuItem:hover {
  font-family: UbuntuBold;
  font-size: large;
}

.loginBtn {
  font-family: UbuntuBold;
  font-weight: 300;
  text-transform: capitalize;
  color: hsl(0, 0%, 100%);
  margin-left: 19.5rem;
  padding: 0.6rem 1.9rem;
  border-radius: 2rem;
}

.loginBtn:hover {
  cursor: pointer;
  color: hsl(353, 100%, 62%);
  background-color: hsl(0, 0%, 100%);
  transition: all linear 0.5s;
}

.signUpBtn {
  font-family: UbuntuBold;
  font-weight: 300;
  text-transform: capitalize;
  margin-left: 0.5rem;
  color: hsl(353, 100%, 62%);
  padding: 0.6rem 1.9rem;
  border-radius: 2rem;
  background-color: hsl(0, 0%, 100%);
}

.signUpBtn:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(355, 100%, 74%);
  transition: all linear 0.5s;
}

.headerTitle {
  font-family: Overpass;
  font-size: 320%;
  color: hsl(0, 0%, 100%);
  margin-top: 5rem;
}

@media only screen and (max-width: 420px) {
  .headerTitle {
    padding: 0 2rem;
    font-size: 220%;
    text-align: center;
    margin-top: 11rem;
  }
}

.headerCatchword {
  font-family: Overpass;
  color: hsla(0, 0%, 100%, 0.8);
  margin-top: 0.5rem;
}

@media only screen and (max-width: 420px) {
  .headerCatchword {
    padding: 0 2rem;
    font-size: 110%;
    text-align: center;
  }
}

.headerBtnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

.startBtn {
  font-family: UbuntuMedium;
  font-size: 100;
  letter-spacing: 0.001ch;
  color: hsl(353, 100%, 62%);
  padding: 0.6rem 0.8rem;
  border-radius: 1.5rem;
  background-color: hsl(0, 0%, 100%);
}

.startBtn:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(355, 100%, 74%);
  transition: all linear 0.5s;
}

.learnMoreBtn {
  font-family: UbuntuMedium;
  font-size: 100;
  letter-spacing: 0.001ch;
  color: hsl(0, 0%, 100%);
  margin-left: 0.7rem;
  padding: 0.6rem 0.8rem;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
  border-width: 1px;
  border-radius: 1.5rem;
  background-color: transparent;
}

.learnMoreBtn:hover {
  cursor: pointer;
  color: hsl(353, 100%, 62%);
  background-color: hsl(0, 0%, 100%);
  transition: all linear 0.5s;
}

.upperBodyPart {
  padding-top: 5rem;
  background-image: url("/src/projectFiles/images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: center;
  background-position-x: 45rem;
  background-position-y: 4rem;
  /* position: relative; */
}

@media only screen and (max-width: 420px) {
  .upperBodyPart {
    background-image: none;
    background-size: auto;
    background-position-x: auto;
    background-position-y: auto;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .upperBodyPart img {
    display: block;
    margin-left: 0rem;
    margin-top: 3rem;
    max-width: 120vw;
  }
}

.bodyHeaderTitle {
  margin-top: 5rem;
  font-family: OverpassBold;
  font-size: 200%;
  color: hsl(208, 49%, 24%);
  text-align: center;
}

@media only screen and (max-width: 420px) {
  .bodyHeaderTitle {
    padding: 0 2rem;
    font-family: OverpassExtraBold;
    font-size: 170%;
  }
}

.mobileEditorImage {
  display: none;
}

@media only screen and (max-width: 420px) {
  .mobileEditorImage {
    display: block;
    margin-left: 0rem;
    margin-top: 3rem;
  }
}

.gridContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: auto;
  gap: 0.5rem;
  padding-bottom: 15rem;
}

@media only screen and (max-width: 420px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 2rem;
  }
}

.paragraphContainer {
  grid-column: 2;
  grid-row: 1;
  text-align: left;
}

@media only screen and (max-width: 420px) {
  .paragraphContainer {
    margin-top: 0rem;
  }
}

.paragraphTitle {
  margin-top: 4rem;
  font-family: OverpassBold;
  font-size: 150%;
  color: hsl(208, 49%, 24%);
}

@media only screen and (max-width: 420px) {
  .paragraphTitle {
    font-family: OverpassExtraBold;
    text-align: center;
    font-size: 170%;
    margin-top: 2rem;
  }
}

.paragraphDescription {
  margin-top: 2rem;
  font-family: OverpassSemiBold;
  color: hsla(208, 49%, 24%, 0.7);
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
}

@media only screen and (max-width: 420px) {
  .paragraphDescription {
    text-align: center;
    margin-top: 1rem;
    letter-spacing: 0.01rem;
  }
}

.phonesContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  max-height: 26rem;
  background-image: url("/src/projectFiles/images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-position-x: -13.3rem;
  background-position-y: -30rem;
  background-color: hsl(237, 17%, 21%);
  border-bottom-left-radius: 120px;
  border-top-right-radius: 120px;
}

@media only screen and (max-width: 420px) {
  .phonesContainer {
    margin-top: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    background-size: auto 36rem;
    background-position-x: -6.5rem;
    background-position-y: -14rem;
    position: relative;
  }
}

.leftMargin {
  width: 7.5%;
}

@media only screen and (max-width: 420px) {
  .leftMargin {
    display: none;
  }
}

.phonesImage {
  margin-top: 2rem;
}

@media only screen and (max-width: 420px) {
  .phonesImage {
    top: -14rem;
    right: 1rem;
    position: absolute;
  }
}

@media only screen and (max-width: 420px) {
  img {
    display: block;
    max-width: 100vw;
  }
}

.phonesInfoContainer {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30rem;
}

@media only screen and (max-width: 420px) {
  .phonesInfoContainer {
    margin-left: -2rem;
    padding: 0 3rem;
    margin-top: 14rem;
    width: auto;
    justify-content: start;
    align-items: center;
  }
}

.phonesInfoTitle {
  font-family: OverpassBold;
  font-size: 200%;
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 420px) {
  .phonesInfoTitle {
    text-align: center;
  }
}

.phonesInfoParagraph {
  margin-top: 1rem;
  font-family: Overpass;
  line-height: 2rem;
  color: hsla(0, 0%, 100%, 0.7);
}

@media only screen and (max-width: 420px) {
  .phonesInfoParagraph {
    text-align: center;
  }
}

.lowerBodyPart {
  margin-top: 5rem;
  padding-top: 10rem;
  background-image: url("/src/projectFiles/images/illustration-laptop-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: center;
  background-position-x: -22rem;
  background-position-y: 2rem;
}

@media only screen and (max-width: 420px) {
  .lowerBodyPart {
    padding-top: 0rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: none;
    background-size: auto;
    background-position-x: auto;
    background-position-y: auto;
  }
}

.mobileLaptopImage {
  display: none;
}

@media only screen and (max-width: 420px) {
  .mobileLaptopImage {
    display: block;
  }
}

@media only screen and (max-width: 420px) {
  .lowerBodyPart img {
    display: block;
    margin-left: 0rem;
    margin-top: 3rem;
    max-width: 120vw;
  }
}

.lowerParagraphContainer {
  grid-column: 3;
  grid-row: 1;
  text-align: left;
}

@media only screen and (max-width: 420px) {
  .lowerParagraphContainer {
    margin-top: 0rem;
  }
}

.lowerParagraphTitle {
  margin-top: 4rem;
  font-family: OverpassBold;
  font-size: 150%;
  color: hsl(208, 49%, 24%);
}

@media only screen and (max-width: 420px) {
  .lowerParagraphTitle {
    font-family: OverpassExtraBold;
    text-align: center;
    font-size: 170%;
    margin-top: 2rem;
  }
}

.lowerParagraphDescription {
  margin-top: 2rem;
  font-family: OverpassSemiBold;
  color: hsla(208, 49%, 24%, 0.7);
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
}

@media only screen and (max-width: 420px) {
  .lowerParagraphDescription {
    text-align: center;
    margin-top: 1rem;
    letter-spacing: 0.01rem;
  }
}

.footerContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  background-color: hsl(240, 10%, 16%);
  padding-top: 4rem;
  padding-bottom: 6rem;
  border-top-right-radius: 125px;
}

@media only screen and (max-width: 420px) {
  .footerContainer {
    margin-top: 7rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.rightSideMargin {
  width: 10%;
}

@media only screen and (max-width: 420px) {
  .rightSideMargin {
    display: none;
  }
}

.footerColumn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-left: 12rem;
}

@media only screen and (max-width: 420px) {
  .footerColumn {
    margin-top: 3.5rem;
    margin-left: 0rem;
    align-items: center;
  }
}

.footerColumnTitle {
  color: hsl(0, 0%, 100%);
  font-family: Ubuntu;
  margin-bottom: 2rem;
}

.footerColumnTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footerColumnItem {
  color: hsla(0, 0%, 100%, 0.7);
  font-family: Ubuntu;
  line-height: 2rem;
}

.footerColumnItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dummy {
  padding-top: 20rem;
}
